.purple-one,
.purple-two,
.purple-three,
.purple-four {
    background-color: purple;
    width: 470px;
    height: 100px;
}

.purple-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pink-one,
.pink-two,
.pink-three {
    background-color: pink;
    width: 630px;
    height: 600px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.pink-block {
    display: flex;
    justify-content: space-between;
}

footer {
    background-color: lightgreen;
    width: 1818px;
    height: 100px;
    padding: 44px;
}

@media screen and (max-width: 600px) {

    .one,
    .two,
    .three,
    .four {
        width: 48%;
        margin: 1%;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .pink-one,
    .pink-two,
    .pink-three {
        width: 100%;
        margin: 5px 0;
    }

    .pink-block {
        flex-direction: column;
        height: 200px;
    }
}