body {
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.block {
    width: 500px;
    height: 100px;
    background-color: purple;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}

header .block:first-child {
    margin-left: 0;
}

header .block:last-child {
    margin-right: 0;
}

.container {
    display: flex;
    justify-content: space-between;
}

.pink-block {
    width: 630px;
    height: 600px;
    background-color: pink;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

footer {
    min-height: 10vh;
    background-color: lightgreen;
    margin-left: 10px;
    margin-right: 10px;
}

@media (max-width: 600px) {
    header {
        flex-direction: row;
        flex-wrap: wrap;

    }

    .block {
        width: 48%;
        margin: 1%;
    }

    .container {
        flex-direction: column;
        height: 400px;
    }

    .pink-block {
        width: 100%;
        margin: 5px 0;
    }
}