.logo {
    background-color: rgb(56, 2, 56);
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.purple-block {
    background-color: purple;
    height: 150px;
    width: 600px;
    margin-top: 30px;
}

.pink-block {
    background-color: pink;
    height: 150px;
    width: 600px;
    margin-top: 30px;
}

.light-purple-block {
    background-color: lightpink;
    height: 150px;
    width: 400px;
}

footer {
    background-color: lightgreen;
    width: 1815px;
    height: 100px;
    padding: 44px;
    margin-top: 30px;
}